                </div>
                <div class="col-lg-7">
                    <div class="thubnail-desc fix">
                        <h1 class="product-header">{{ page.title }}</h1>
                        <div class="mt-10">
                            <table border="0" class="table">
                                <tbody>
                                    <tr>
                                        <td class="table-td">
                                            <p>Mã Sản Phẩm</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.model | upcase }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Màu Sắc</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.color }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Bảo Hành</p>
                                        </td>
                                        <td class="table-td">
                                            <p>12 Tháng</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Sải Cánh</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.saicanh }} cm</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Công Suất</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.congsuat }} W</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Số Cánh Quạt</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.canhquat }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Hẹn Giờ</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.hengio }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Điều Khiển</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.dieukhien }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Chiều Cao</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.chieucao }} cm</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-td">
                                            <p>Lưu Lượng Gió</p>
                                        </td>
                                        <td class="table-td">
                                            <p>{{ product.luuluonggio }} m<sup>3</sup>/min</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 