<footer class="off-white-bg2 pt-95 bdr-top pt-sm-10">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer mb-sm-40">
                        <p class="footer-title">Thông Tin Liên Hệ</p>
                        <div class="footer-content">
                            <ul class="footer-list address-content">
                                <li><i class="lnr lnr-map-marker"></i><a target="_blank" rel="nofollow" href="https://goo.gl/maps/rKBg65CaXjmxbBAi9">Địa Chỉ : 79 Đường Số 10, KDC Hồ Học Lãm, An Lạc, Bình Tân, TP. HCM</a></li>
                                <li><i class="lnr lnr-phone-handset"></i><a href="tel:0902532424">Điện Thoại Mua Hàng : 090.253.2424</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pb-30">
        <div class="container">
            <div class="copyright-text text-center">                    
                <p>Cửa Hàng Bán Lẻ Cần Nhập Hàng Số Lượng Lớn Vui Lòng Liên Hệ Số Điện Thoại</p>
            </div>
        </div>
    </div>
</footer>