---
layout: product-detail
title: Máy Sấy Panasonic EH-ND11A
permalink: /may-say-panasonic-eh-nd-11a/
---
{% assign model = "eh-nd-11a" %}
{% for product in site.data.san-pham %}
  {% if product.model  == model %}
      {%- include detail-1.html -%}
      <div class="tab-content">
                <div id="thumb1" class="tab-pane fade show active">
                    <a data-fancybox="images" href="\assets\img\{{ model }}\active\may-say-panasonic-eh-nd-11a-1.jpg"><img src="\assets\img\{{ model }}\active\may-say-panasonic-eh-nd-11a-1.jpg" alt="product-view"></a>
                </div>
          <div id="thumb2" class="tab-pane fade">
              <a data-fancybox="images" href="\assets\img\{{ model }}\active\may-say-panasonic-eh-nd-11a-2.jpg"><img src="\assets\img\{{ model }}\active\may-say-panasonic-eh-nd-11a-2.jpg" alt="product-view"></a>
          </div>
      </div>
      <div class="product-thumbnail mt-15">
          <div class="thumb-menu owl-carousel nav tabs-area" role="tablist">
              <a class="active" data-toggle="tab" href="#thumb1"><img src="\assets\img\{{ model }}\active\may-say-panasonic-eh-nd-11a-1.jpg" alt="product-thumbnail"></a>
              <a class="active" data-toggle="tab" href="#thumb2"><img src="\assets\img\{{ model }}\active\may-say-panasonic-eh-nd-11a-2.jpg" alt="product-thumbnail"></a>
          </div>
      </div>
    </div>
    <div class="col-lg-7">
        <div class="thubnail-desc fix">
            <h1 class="product-header">{{ page.title }}</h1>
            <div class="mt-10">
                <table border="0" class="table">
                    <tbody>
                        <tr>
                            <td class="table-td">
                                <p>Công suất</p>
                            </td>
                            <td class="table-td">
                                <p>1000W</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-td">
                                <p>Tốc độ sấy</p>
                            </td>
                            <td class="table-td">
                                <p>2 tốc độ</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-td">
                                <p>Kiểu dáng</p>
                            </td>
                            <td class="table-td">
                                <p>Tay cầm thẳng</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-td">
                                <p>Chế độ bảo vệ</p>
                            </td>
                            <td class="table-td">
                                <p>Tự ngắt khi quá nhiệt</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-td">
                                <p>Tiện ích</p>
                            </td>
                            <td class="table-td">
                                <p>Có móc treo</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-td">
                                <p>Chiều dài dây điện</p>
                            </td>
                            <td class="table-td">
                                <p>110 cm</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-td">
                                <p>Kích thước, khối lượng</p>
                            </td>
                            <td class="table-td">
                                <p>Ngang 15 cm - Cao 23 cm - Sâu 8 cm - Nặng 235 g</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-td">
                                <p>Thương hiệu của</p>
                            </td>
                            <td class="table-td">
                                <p>Nhật Bản</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-td">
                                <p>Sản xuất tại</p>
                            </td>
                            <td class="table-td">
                                <p>Thái Lan</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-td">
                                <p>Năm ra mắt</p>
                            </td>
                            <td class="table-td">
                                <p>2013</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-td">
                                <p>Hãng</p>
                            </td>
                            <td class="table-td">
                                <p>Panasonic</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div> 
      
{% endif %}
{% endfor %}
