---
layout: product-detail
title: Quạt Bàn Senko B1213
permalink: /quat-ban-senko-b1213/
---
{% assign model = "b1213" %}
{% for product in site.data.san-pham %}
  {% if product.model  == model %}
      {%- include detail-1.html -%}
      <div class="tab-content">
                <div id="thumb1" class="tab-pane fade show active">
                    <a data-fancybox="images" href="\assets\img\{{ model }}\quat-ban-senko-b1213-mau-com.webp"><img src="\assets\img\{{ model }}\active\quat-ban-senko-b1213-mau-com-active.webp" alt="product-view"></a>
                </div>
          <div id="thumb2" class="tab-pane fade">
              <a data-fancybox="images" href="\assets\img\{{ model }}\quat-ban-senko-b1213-mau-kem-mon.webp"><img src="\assets\img\{{ model }}\active\quat-ban-senko-b1213-mau-kem-mon-active.webp" alt="product-view"></a>
          </div>
          <div id="thumb3" class="tab-pane fade">
              <a data-fancybox="images" href="\assets\img\{{ model }}\quat-ban-senko-b1213-mau-kem-nau.webp"><img src="\assets\img\{{ model }}\active\quat-ban-senko-b1213-mau-kem-nau-active.webp" alt="product-view"></a>
          </div>
          <div id="thumb4" class="tab-pane fade">
              <a data-fancybox="images" href="\assets\img\{{ model }}\quat-ban-senko-b1213-mau-xam-dong.webp"><img src="\assets\img\{{ model }}\active\quat-ban-senko-b1213-mau-xam-dong-active.webp" alt="product-view"></a>
          </div>
          <div id="thumb5" class="tab-pane fade">
              <a data-fancybox="images" href="\assets\img\{{ model }}\quat-ban-senko-b1213-mau-xanh-ngoc.webp"><img src="\assets\img\{{ model }}\active\quat-ban-senko-b1213-mau-xanh-ngoc-active.webp" alt="product-view"></a>
          </div>
      </div>
      <div class="product-thumbnail mt-15">
          <div class="thumb-menu owl-carousel nav tabs-area" role="tablist">
              <a class="active" data-toggle="tab" href="#thumb1"><img src="\assets\img\{{ model }}\thumb\quat-ban-senko-b1213-mau-com-thumb.webp" alt="product-thumbnail"></a>
              <a class="active" data-toggle="tab" href="#thumb2"><img src="\assets\img\{{ model }}\thumb\quat-ban-senko-b1213-mau-kem-mon-thumb.webp" alt="product-thumbnail"></a>
              <a class="active" data-toggle="tab" href="#thumb3"><img src="\assets\img\{{ model }}\thumb\quat-ban-senko-b1213-mau-kem-nau-thumb.webp" alt="product-thumbnail"></a>
              <a class="active" data-toggle="tab" href="#thumb4"><img src="\assets\img\{{ model }}\thumb\quat-ban-senko-b1213-mau-xam-dong-thumb.webp" alt="product-thumbnail"></a>
              <a class="active" data-toggle="tab" href="#thumb5"><img src="\assets\img\{{ model }}\thumb\quat-ban-senko-b1213-mau-xanh-ngoc-thumb.webp" alt="product-thumbnail"></a>
          </div>
      </div>
      {%- include detail-2.html -%}
      
{% endif %}
{% endfor %}
